{% extends "base_header_footer.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block content %}
    <main>
        <div class="form-structor">
            <div class="signup">
                <h2 class="form-title" id="signup">S'inscrire</h2>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Nom" />
                    <input type="text" class="input" placeholder="Prénom" />
                    <input type="text" class="input" placeholder="Date de naissance" />
                    <input type="text" class="input" placeholder="Téléphone" />
                    <input type="text" class="input" placeholder="Pseudo" />
                    <input type="email" class="input" placeholder="Email" />
                    <input type="password" class="input" placeholder="Mot de passe" />
                </div>
                <button class="submit-btn">S'inscrire</button>
            </div>
            <div class="login slide-up">
                <div class="center">
                    <h2 class="form-title" id="login">Se connecter</h2>
                    <div class="form-holder">
                        <input type="email" class="input" placeholder="Email" />
                        <input type="password" class="input" placeholder="Mot de passe" />
                    </div>
                    <button class="submit-btn">Se connecter</button>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}

