{% extends "base_header_footer.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block content %}
    <main class="st_viewport">
        <div class="st_wrap_table" data-table_id="0">
          <div class="st_table_header">
            <h2>Samedi</h2>
            <div class="st_row title">
              <div class="st_column heure">Heure</div>
              <div class="st_column event">Evenement</div>
              <div class="st_column groupe">Groupes</div>
            </div>
		</div>
          <div class="st_table">
            <div class="st_row">
              <div class="st_column heure">8h</div>
              <div class="st_column event">Concert</div>
              <div class="st_column groupe">Fave</div>
            </div>
			<div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>           
        </div>
        <div class="st_wrap_table" data-table_id="1">
          <div class="st_table_header">
            <h2>Dimanche</h2>
            <div class="st_row title">
              <div class="st_column heure">Heure</div>
              <div class="st_column event">Evenement</div>
              <div class="st_column groupe">Groupes</div>
            </div>
		</div>
          <div class="st_table">
            <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>
			  <div class="st_row">
				<div class="st_column heure">8h</div>
				<div class="st_column event">Concert</div>
				<div class="st_column groupe">Fave</div>
			  </div>       
          </div>
        </div>
      </main>
	  {% endblock %}

